@keyframes damage-explosion
  0%
    opacity 0
    transform scale(0)

  50%
    opacity 1
    transform scale(1)

  75%
    transform scale(1.2)
    opacity 0.8

  100%
    transform scale(1)


@keyframes hero-explosion-burst
  0%
    transform translate3d(0.05rem, 0, 0)

  50%
    transform translate3d(-0.05rem, 0, 0)




@keyframes hero-explosion-scale
  0%
    transform scale(1)
    opacity 1

  70%
    transform scale(1)
    opacity 1
    background-color white
    background-image none


  99%
    transform scale(1.2)
    opacity 0.5

  100%
    trasform scale (1)
    opacity 1
    background-color #646a64


@keyframes hero-explosion-fading
  0%
    opacity 1

  70%
    opacity 1


  99%
    opacity 0.5


  100%
    opacity 0

@keyframes hero-explosion-boom
  0%
    opacity 0
    transform scale(0)

  70%
    opacity 0
    transform scale(0)

  95%
    opacity 1
    transform scale(1)

  100%
    opacity 0
    transform scale(0)


@keyframes hero-cracks-show
  0%
    opacity 0


  70%
    opacity 0

  95%
    opacity 1


  100%
    opacity 1

