<div class="player-stats-table--nickname">
  {{player.name}}
</div>

<div class="player-stats-table--wrapper">
  <div class="player-stats-table--your-turn" *ngIf="ourTurn && !isOpponent">
    Your turn
  </div>
  <div class="player-stats-table--opponent-turn" *ngIf="!ourTurn && !isOpponent">
    Opponent turn
  </div>

  <div class="player-stats-table--table">
    <div class="player-stats-table--row">
      <div class="player-stats-table--stat-icon player-stats-table--stat-icon_border">
        <i class="player-stats-table--sausage"></i>
      </div>
      <div class="player-stats-table--value player-stats-table--value_border">
        {{player.sausages}}
        <span class="player-stats-table--value-increase">+10</span></div>
    </div>

    <div class="player-stats-table--row">
    </div>

    <div class="player-stats-table--row">
    </div>

  </div>
</div>
