$cardHeight = 6.6rem
$cardWidth = 4.6rem


:host
  display: inline-block
  width $cardWidth
  height $cardHeight
  padding  0.6em
  box-sizing border-box
  margin 0 -0.5em
  position relative
  transition all 0.2s ease

.card
  box-shadow 0 0 0.3rem 0.3rem #ee7c00
  border 1px solid #ee7c00
  background-image url('/assets/deck-enemy.jpg');
  background-size cover
  background-repeat no-repeat
  height 100%
  width 100%
  display inline-block
  border-radius 0.4rem
  background-color #ffffff
