@import '../styles/card.styl'



@keyframes put-card-to-hand {
  20% {
    transform translate3d(-150%, -250%, 0) scale(1.5)
    box-shadow -1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.5)
  }

  30% {
    transform translate3d(-150%, -250%, 0) scale(3)  rotateY(180deg)
    box-shadow -1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3)
  }

  75% {
    transform translate3d(-150%, -250%, 0) scale(3)  rotateY(180deg)
    box-shadow -1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3)
  }



  85% {
    transform translate3d(5%, -5%, 0) scale(0.8) rotateZ(10deg) rotateY(150deg)
    box-shadow -0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.6)
  }

  93% {
    transform translate3d(0, 0, 0) scale(1.05) rotateZ(-15deg)  rotateY(180deg)
    box-shadow 0rem 0rem 1.5rem 0.1rem rgba(0, 0, 0, 0.8)
  }
  96% {
    transform translate3d(0, 0, 0) scale(1.1) rotateZ(9deg) rotateY(180deg)
    box-shadow 0rem 0rem 1.5rem 0.1rem rgba(0, 0, 0, 0.8)
  }

  100% {
    transform translate3d(0, 0, 0) scale(1) rotateY(180deg)
    box-shadow 0 0 0 0 black
  }
}


:host
  position relative
  z-index 200
  host()
  padding  1.6rem
  margin -0.6rem -1.2rem -3rem -1.2rem
  &:hover:not(.disabled)
    cursor url('/assets/pointer.cur'), auto
    z-index 1000;
    .player-hand-card
      transform  scale(1.1)
  &.disabled
    filter grayscale(30%) brightness(80%)


  .player-hand-card
    transition all 0.1s ease
    display block
    width 100%
    height 100%
    position relative
    transform-style preserve-3d

    &_flipped
      transform translate3d(0, 0, 0) scale(1)
      box-shadow 0 0 0 0 black

    &_flipped
      .player-hand-card--face
        transform: rotateY(0deg)
    &_flipped
      .player-hand-card--deck
        display: none

    &_putted-to-hand
      z-index 40000
      transform translate3d(300%, 0%, 0) scale(0.8) rotateY(30deg) rotateZ(20deg)
      animation put-card-to-hand 2.5s ease-in forwards

    &.drag-handle
      cursor url('/assets/pointer.cur'), auto
    &.drag-handle:active
      cursor url('/assets/pointer.cur'), auto


    &--face, &--deck
      display: block
      overflow hidden
      backface-visibility hidden
      position absolute
      border-radius 0.4rem
      border 1px solid #b58bad
      box-shadow 0.3rem 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4), inset 0 0 2rem 0 rgba(181, 139, 173, 0.5), inset 0 0 0.1rem

    &--face
      transform: rotateY(180deg)
