.hero-card
  height 9rem
  width 6rem
  background-color #56585f
  border 1px solid #343434

  border-radius 0.3rem

  &_enemy
    box-shadow  0 0 2rem 1rem #942626

  &_player
    box-shadow  0 0 2rem 1rem #2247a1
