<div class="hero-card"
     (animationend)="stopDestroy()"
     [class.hero-card_enemy]="!isPlayerHero"
     [class.hero-card_player]="isPlayerHero"
>
  <div class="hero-card--card">
    <div class="hero-card--hero" [style.background-image]="heroImage"></div>
    <div class="hero-card--hero-explosion"></div>
    <div class="hero-card--cracks"></div>
  </div>

</div>

<div class="hero-card--defence-image"></div>
<div class="hero-card--explosion" *ngIf="showExplosion"
      (animationend)="explosionEnd()"
></div>
<div class="hero-card--health"
     [class.hero-card--health_player]="isPlayerHero"
     [class.hero-card--health_opponent]="!isPlayerHero"
>{{player.health}}
</div>

<app-cast-circle class="hero-cast-circle" [isPlayer]="isPlayerHero"></app-cast-circle>
