@import '../styles/target.styl'
@import '../styles/explosion.styl'

:host
  display block
  &.destroy
    animation: hero-explosion-burst 0.05s infinite ease-in-out
  &.destroyed
    .hero-card
      animation: hero-explosion-scale 2s forwards ease-in-out
    .hero-card--hero
      animation hero-explosion-fading 2s forwards ease-in-out
    .hero-card--hero-explosion
      animation hero-explosion-boom 2s ease-in-out forwards
    .hero-card--cracks
      animation hero-cracks-show 2s ease-in-out forwards

  &.in-attack
    z-index 10000
    cursor url('/assets/attack.cur'), auto
    &:hover
      .hero-card--card
        animation: target 1s infinite ease-in-out
      .hero-card--defence-image, .hero-card--health
        animation: attack-defence-pulse 1s infinite ease-in-out

.hero-card

  height 10rem
  width 10rem
  border 1px solid #343434
  border-radius 50%



  &--hero
    width 100%
    height 100%
    background-repeat no-repeat
    background-position 50% 50%
    background-size 100%

  &:after
    content ''
    display block
    width 1.5rem
    height 2rem
    position absolute
    top -0.8rem
    left 4.25rem
    background-image url('/assets/gem.png')
    background-repeat no-repeat
    background-size contain


  &--health
    position absolute
    width 4rem
    height 2rem
    bottom -1rem
    left 50%
    font-size 1.4rem
    line-height 2rem
    text-align: center
    vertical-align middle
    margin-left -2rem
    z-index 20000
    font-weight 600

    &_player
      color #9e429a
      text-shadow: 0 0 0.01rem #4a2047
    &_opponent
      color #d26400
      text-shadow: 0 0 0.01rem #6e3500

  &--defence-image, &--explosion
    position absolute
    background-repeat no-repeat
    background-size auto 100%
    width 4rem
    height 4rem
    bottom -2rem
    left 50%
    margin-left -2rem
    filter grayscale(80%) brightness(160%)

  &--defence-image
    background-image url('/assets/shield-fire.png')

  &--explosion
    z-index 19000
    background-image url('/assets/explosion.svg')
    animation damage-explosion 0.5s ease-in forwards

  &--hero-explosion
    background-image url('/assets/explosion.svg')
    position absolute
    background-repeat no-repeat
    background-size auto 100%
    width 100%
    height 100%
    left 0
    top 0
    opacity 0
    scale 0



  &--card
    background-image url('/assets/card-background.jpg')
    background-repeat no-repeat
    background-size 100% 100%
    border-radius 50%
    height calc(10rem - 10px)
    width calc(10rem - 10px)
    margin-top 5px
    margin-left 5px
    box-shadow  inset 0 0 2rem 0 #b58bad,
    0 0 2px 0 black
    overflow hidden;
    position relative;




  &--cracks
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background-image url('/assets/cracks.svg')
    background-repeat no-repeat
    background-size 100% 100%
    opacity 0




  &_enemy
    background-color #ee7c00
    box-shadow  inset 0 0 2px 0 #000, 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.64)

  &_player
    background-color #b58bad
    box-shadow  inset 0 0 2px 0 #000, 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.64)
