$cardHeight = 6.6rem
$cardWidth = 4.6rem

@keyframes pulse {
  0% {
    box-shadow 0 0 0.2rem 0.2rem #b58bad, inset 0 0 2rem 0 #b58bad
    border 1px solid #b58bad
  }
  50% {
    border 1px solid #b58bad
    box-shadow 0 0 0.5rem 0.5rem #b58bad, inset 0 0 5rem 0rem rgba(181, 139, 173, 0.61)
  }
  100% {
    box-shadow 0 0 0.2rem 0.2rem #b58bad, inset 0 0 2rem 0 #b58bad
    border 1px solid #b58bad
  }
}

@keyframes target {
  0% {
    box-shadow  0 0 0.3rem 0.3rem #ee7c00, inset 0 0 2rem 0 rgba(238, 124, 0, 0.3)
    border 1px solid #ee7c00
  }
  50% {
    border 1px solid #ee7c00
    box-shadow  0 0 0.3rem 0.3rem #ee7c00, inset 0 0 5rem 0rem rgba(238, 124, 0, 0.3)
  }
  100% {
    box-shadow  0 0 0.3rem 0.3rem #ee7c00, inset 0 0 2rem 0 rgba(238, 124, 0, 0.3)
    border 1px solid #ee7c00
  }
}



:host
  display: inline-block
  width $cardWidth
  height $cardHeight
  padding  0.6em
  box-sizing border-box
  margin 0 -0.5em
  position relative
  transition all 0.2s ease
  &.drag-handle
    cursor url('/assets/pointer.cur'), auto
  &.drag-handle:active
    cursor url('/assets/pointer.cur'), auto
  .card
    transition all 0.1s ease
  &:hover:not(.enemy):not(.in-desk)
    transform translateY(0.27em)
    margin -0.55em 0.6em -0.55em 0.6em
    width $cardWidth * 1.1
    height $cardHeight * 1.1
    cursor url('/assets/pointer.cur'), auto
    border-radius 0.44rem

  &.target:hover
    .card
      animation: target 1.4s infinite ease-in-out;

  &.in-attack:not(.enemy)
    width $cardWidth * 1.1
    height $cardHeight * 1.1
    margin -0.55em 0
    transform translateY(0.27em)
    .card
      border-radius 0.44rem
      border 1px solid #487a8b
      box-shadow 0 0 0 0 #487a8b
      animation: pulse 1.4s infinite ease-in-out;



:host.in-desk
  margin 0 0.1rem

:host.enemy
  .card
    box-shadow 0 0 0.3rem 0.3rem #ee7c00
    border 1px solid #ee7c00
    background-image url('/assets/deck-enemy.jpg');
    background-size cover
    background-repeat no-repeat

:host.enemy.in-desk
  .card
    background white

.card
  height 100%
  width 100%
  display inline-block
  border-radius 0.4rem
  border 1px solid #b58bad
  background-color #ffffff
  box-shadow 0 0 0.3rem 0.3rem #b58bad




