$cardHeight = 8rem
$cardWidth = 5.5rem

@keyframes pulse {
  0% {
    box-shadow 0 0 0.2rem 0.2rem #b58bad, inset 0 0 2rem 0 #b58bad
    border 1px solid #b58bad
  }
  50% {
    border 1px solid #b58bad
    box-shadow 0 0 0.5rem 0.5rem #b58bad, inset 0 0 5rem 0rem rgba(181, 139, 173, 0.61)
  }
  100% {
    box-shadow 0 0 0.2rem 0.2rem #b58bad, inset 0 0 2rem 0 #b58bad
    border 1px solid #b58bad
  }
}

@keyframes target {
  0% {
    box-shadow  0 0 0.3rem 0.3rem #ee7c00, inset 0 0 2rem 0 rgba(238, 124, 0, 0.3)
    border 1px solid #ee7c00
  }
  50% {
    border 1px solid #ee7c00
    box-shadow  0 0 0.3rem 0.3rem #ee7c00, inset 0 0 5rem 0rem rgba(238, 124, 0, 0.3)
  }
  100% {
    box-shadow  0 0 0.3rem 0.3rem #ee7c00, inset 0 0 2rem 0 #ee7c00
    border 1px solid #ee7c00
  }
}



:host
  display: inline-block
  width $cardWidth
  height $cardHeight
  padding  0.6em
  box-sizing border-box
  margin 0 -0.5em
  position relative
  transition all 0.2s ease
  &.drag-handle
    cursor url('/assets/pointer.cur'), auto
  &.drag-handle:active
    cursor url('/assets/pointer.cur'), auto
  .card
    transition all 0.1s ease
  &:hover:not(.enemy):not(.in-desk)
    transform translateY(0.27em)
    margin -0.55em 0.6em -0.55em 0.6em
    width $cardWidth * 1.1
    height $cardHeight * 1.1
    cursor url('/assets/pointer.cur'), auto
    border-radius 0.44rem

  &.target:hover
    .card
      animation: target 1.4s infinite ease-in-out;

  &.in-attack:not(.enemy)
    width $cardWidth * 1.1
    height $cardHeight * 1.1
    margin -0.55em 0
    transform translateY(0.27em)
    .card
      border-radius 0.44rem
      border 1px solid #487a8b
      box-shadow 0 0 0 0 #487a8b
      animation: pulse 1.4s infinite ease-in-out;



:host.in-desk
  margin 0 0.1rem

:host.enemy
  .card
    box-shadow 0 0 0.3rem 0.3rem #ee7c00
    border 1px solid #ee7c00
    background-image url('/assets/deck-enemy.jpg');
    background-size cover
    background-repeat no-repeat

:host.enemy.in-desk
  .card
    background white

:host.enemy
  .card
    &--value
      color #6e3400
    &--defence
      background-image url('/assets/guard-orange.png')

    &--attack-sword-right,
    &--attack-sword-left
      background-image url('/assets/sword-orange.png')

    &--attack-round
      border 1px solid #ee7c00
      box-shadow 0 0 0.1rem 0rem #ee7c00,  inset 0 0 0.3rem 0 #ee7c00

.card
  height 100%
  width 100%
  display inline-block
  border-radius 0.4rem
  border 1px solid #b58bad
  background-color #ffffff
  box-shadow 0 0 0.3rem 0.3rem #b58bad
  position relative

  &--defence, &--attack
    position absolute
    width 1.7rem
    height 1.7rem
    top 0.2rem



  &--defence
    right 0.2rem

    background-image url('/assets/guard-opacity.png')
    background-repeat no-repeat
    background-size cover

  &--attack
    width 1.7rem
    height 1.7rem


  &--attack
  &--attack-sword-right,
  &--attack-sword-left
    left 0.2rem
    position absolute

  &--value
    position absolute
    top 0
    left -0.1rem
    color #61475b
    display inline-block
    font-size 1.1rem
    line-height 1.7rem
    width 1.7rem
    height 1.7rem
    z-index 250
    text-align center
    letter-spacing -0.1em

  &--attack-round
    width 1.4rem
    height 1.4rem
    position absolute
    top 0.1rem
    left 0.1rem
    border-radius 50%
    background-color white
    z-index 200
    border 1px solid #b58bad
    box-shadow 0 0 0.1rem 0rem #b58bad,  inset 0 0 0.3rem 0rem #b58bad


  &--attack-sword-right,
  &--attack-sword-left
    width 2.3rem
    height 2.3rem
    top 0.1rem
    background-image url('/assets/sword.png')
    background-repeat no-repeat
    background-size contain

  &--attack-sword-right
    left -0.95rem
    top 0.3rem
    transform rotateZ(45deg)

  &--attack-sword-left
    top -0.95rem
    left -0.95rem
    transform rotateZ(135deg)









