$cardHeight = 6rem
$cardWidth = 4rem


:host
  display: inline-block
  width $cardWidth
  height $cardHeight
  box-shadow 0 0 0.3rem 0.1rem #487a8b
  border-radius 0.3rem
  border 1px solid #084d8b
  background-color #ffffff
  margin 0 0.2em
  &.draggableClone
    box-shadow none

.card
  height 100%
  width 100%
  display inline-block


