$cardHeight = 10rem
$cardWidth = 7.5rem

host()
  width $cardWidth
  height $cardHeight
  display inline-block
  box-sizing border-box
  position relative

card-host()
  transition all 0.1s ease
  display block
  width 100%
  height 100%
  position relative
  border-radius 0.4rem
  border 1px solid #b58bad

