<app-card
  [card]="playerCard"
  (destroy)="destroyEnd()"
  [destroyed]="destroyed"
  [class.player-hand-card--putted-to-desk]="playerCard.puttedToDesk"
  [class.player-hand-card_in-attack]="playerCard.inAttack"
  [class.player-hand-card_attack-animation]="inAttackProcess"
  (animationend)="animationEnd()"
  (transitionend)="transitionEnd($event)"
  [ngStyle]="cardStyle"
  class="player-hand-card">
</app-card>

<div class="player-hand-card--damage"
     (animationend)="damageBurnAnimationEnd()"
     *ngIf="damageBurnShow">
  {{damageBurn}}
</div>



