@import '../styles/card.styl'

@keyframes card-in-attack {
  0% {
    box-shadow inset 0 0 5rem 0 #b58bad
  }
  50% {
    box-shadow inset 0 0 5rem 0rem #5cda94
  }
  100% {
    box-shadow inset 0 0 5rem 0 #b58bad
  }
}


@keyframes put-in-desk {
  30% {
    opacity 1
    transform translate3d(80%, -80%, 0) scale(1.5) rotateZ(-15deg)  rotateY(-30deg)
    box-shadow -1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.5)
  }

  60% {
    opacity 1
    transform translate3d(100%, -100%, 0) scale(1.7) rotateZ(-10deg) rotateY(-20deg)
    box-shadow -1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3)
  }


  80% {
    opacity 1
    transform translate3d(5%, 5%, 0) scale(0.8) rotateZ(0deg) rotateY(-20deg)
    box-shadow -0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.6)
  }

  90% {
    opacity 1
    transform translate3d(0, 0, 0) scale(1.05) rotateZ(-15deg)
    box-shadow 0rem 0rem 1.5rem 0.1rem rgba(0, 0, 0, 0.8)
  }
  95% {
    opacity 1
    transform translate3d(0, 0, 0) scale(1.1) rotateZ(9deg)
    box-shadow 0rem 0rem 1.5rem 0.1rem rgba(0, 0, 0, 0.8)
  }

  100% {
    opacity 1
    transform translate3d(0, 0, 0) scale(1)
    box-shadow 0 0 0 0 black
  }
}


selected()
  transform scale(1.1)
  box-shadow 0.3rem 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4), inset 0 0 2rem 0 rgba(181, 139, 173, 0.5), inset 0 0


:host
  position relative
  z-index 200
  host()
  padding 1.6rem
  margin -0.6rem -1.2rem -3rem -1.2rem


  &:hover
    z-index 300
    cursor url('/assets/pointer.cur') , auto
    .player-hand-card
      selected();


  .player-hand-card
    card-host()
    box-shadow inset 0 0 2rem 0 rgba(181, 139, 173, 0.5), inset 0 0 0.1rem
    &--putted-to-desk
      opacity 1
      z-index 40000
      box-shadow -1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3)
      transform translate3d(20%, 300%, 0) scale(1.2) rotateY(30deg) rotateZ(20deg)
      animation put-in-desk 0.9s ease-in forwards

    &_in-attack
      selected();
      animation: card-in-attack 1.4s infinite ease-in-out;


