:host
  width 100%
  height 100%
  position relative


.cast-circle
  &--elements-circle
    position absolute
    width 100%
    height 100%

  &--elements-sector
    position absolute
    width 100%
    height 100%
    opacity 0
    transition all 0.2s ease-in

    &_hover
      opacity 1

