<app-cast-element [elementType]="el.type"
                  [style.top]="el.y"
                  [style.left]="el.x"
                  *ngFor="let el of elements"></app-cast-element>

<app-cast-elements-circle [player]="player" [isPlayer]="isPlayer"></app-cast-elements-circle>
<div class="cast-circle--elements-circle" *ngIf="isPlayer"
     (mousemove)="mousemove($event)"
     (mouseout)="mouseout()"
>
  <canvas class="cast-circle--elements-sector" #earth></canvas>
  <canvas class="cast-circle--elements-sector" #water></canvas>
  <canvas class="cast-circle--elements-sector" #fire></canvas>
  <canvas class="cast-circle--elements-sector" #air></canvas>
</div>


