$height = 2.7rem
$width = 6.5rem

$border-width = 0.4rem
$border-radius = 20%

@keyframes pulse-turn-end {
  0% {
    box-shadow inset 0 0 0.2rem 0.1rem #ea833e, 0.2rem -0.2rem 0.4rem 0.05rem rgba(0, 0, 0, 0.4), 0 0 1rem 0.2rem #ea4e42
  }
  50% {
    box-shadow inset 0 0 0.2rem 0.1rem #ea833e, 0.2rem -0.2rem 0.4rem 0.05rem rgba(0, 0, 0, 0.4), 0 0 1rem 0.2rem #eab569
  }
  100% {
    box-shadow inset 0 0 0.2rem 0.1rem #ea833e, 0.2rem -0.2rem 0.4rem 0.05rem rgba(0, 0, 0, 0.4), 0 0 1rem 0.2rem #ea4e42
  }
}


:host
  display block
  position absolute
  width $width
  height $height
  background-color #f9c64e
  top 50%
  right 0
  margin-top  -($height / 2 + 1rem)
  z-index 5000
  border-radius $border-radius
  box-shadow inset 0 0 0.2rem 0.1rem #ea833e, 0.2rem -0.2rem 0.4rem 0.05rem rgba(0, 0, 0, 0.4)
  transform rotateZ(-10deg)
  transition transform 0.2s ease
  &:hover
    transform rotateZ(-15deg)
    animation: pulse-turn-end 1.4s infinite ease-in-out;


.end-turn-button

  &--button
    $button-width = $width - $border-width * 2
    $button-height = $height - $border-width * 2
    position absolute
    border-radius $border-radius
    top 50%
    left 50%
    margin-left -($button-width / 2)
    margin-top -($button-height / 2)
    background-color #d08d4c
    width $width - $border-width * 2
    height $height - $border-width * 2
    box-shadow 0 0 0.2rem 0.1rem #ea833e, inset 0 0 2rem 0.5rem #d06a17
    line-height $button-height
    text-align center
    color #783715
    text-transform uppercase
    font-weight 600
    vertical-align middle
    text-shadow 0.05rem 0.05rem 0.1rem rgba(82,41,17,0.3)



