@import '../styles/card.styl'

:host
  position relative
  z-index 200
  host()
  padding  1.6rem
  margin -1.6rem -1.2rem

.enemy-hand-card
  card-host()
  box-shadow 0.1rem 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.3), inset 0 0 0.3rem 0.1rem #ee7c00
  border 1px solid #ee7c00

