:host
  width 6rem
  height 9rem
  position absolute

  &.enemy
    top 3.9rem
    left 0.5rem
    .deck
      background-image url('/assets/deck-enemy.jpg');
      background-size 100%
      background-repeat no-repeat

  &.player
    bottom 3rem
    right 0rem

    .deck
      background-image url('/assets/deck.jpg');
      background-size 100%
      background-repeat no-repeat

  .deck
    width 5rem
    height 7.7rem
    border 1px solid #2a2a2a
    border-radius 0.2rem
    position absolute
    top 0
    left 0
    z-index 2000
    box-sizing border-box
    &_1
      z-index 1999
      top 0.1rem
      left 0.1rem
    &_2
      z-index 1998
      top 0.22rem
      left 0.22rem
      box-shadow 0 0 0.2rem 0.05rem rgba(0,0,0,0.53)

