<div class="enemy-card"

     [class.enemy-card_putted-to-desk]="card.puttedToDesk && !card.inAttack"
     [class.enemy-card_flipped]="!card.puttedToDesk"
     [class.enemy-card_attack-mode]="attackMode"
     [class.enemy-card_in-attack]="playerCard.inAttack"
     [class.enemy-card_attack-animation]="inAttackProcess"
     [ngStyle]="cardStyle"
     (animationend)="animationEnd()"
     (transitionend)="transitionEnd($event)">
  <app-card
    (destroy)="destroyEnd()"
    [destroyed]="destroyed"
    [card]="card"
    class="enemy-card--face">
  </app-card>
  <app-card-deck
    class="enemy-card--deck"></app-card-deck>
  <div class="enemy-card--damage"
       (animationend)="damageBurnAnimationEnd()"
       *ngIf="damageBurnShow">
    -{{damageBurn}}
  </div>

</div>

