@import '../styles/card.styl'

:host
  position relative
  z-index 200
  host()
  padding  1.6rem
  margin -0.6rem -1.2rem -3rem -1.2rem


  .enemy-hand-card
    card-host()
    box-shadow  inset 0 0 2rem 0 rgba(181, 139, 173, 0.5), inset 0 0 0.1rem
