<div class="card--wrapper"
     [class.card--wrapper_faded]="destroyed"
     [class.card--wrapper_glow]="card.inAttack"
     [class.card--wrapper_player]="cardStyle === 'player'"
     [class.card--wrapper_opponent]="cardStyle === 'opponent'"
     [class.card--wrapper_attacking]="attacking"
     [class.card--wrapper_target]="attackMode"
     (animationend)="destroyEnd()">

  <div class="card--defence" [style.background-image]="defenceImage">
    <div class="card--value">{{card.defence.value}}</div>
  </div>
  <div class="card--attack" [style.background-image]="attackImage">
    <div class="card--value">{{card.attack.value}}</div>
  </div>

  <div class="card--avatar"
       [style.background-image]="card.avatar">
  </div>
</div>

<div class="card--burn"
     [class.card--burn_active]="destroyed">

</div>
