$player-pane-height = 10rem
$cardHeight = 7rem
$cardWidth = 5.5rem




.desk
  cursor url('/assets/default.cur'), auto
  width 100%
  height 100%
  background-color #273745
  position relative
  box-shadow inset 0 0 5em 1em #17222e

  &_attack-mode
    cursor url('/assets/attack.cur'), auto

  &--player-name
    padding 0 0.5rem
    display inline-block
    background-color #cc874b
    color black
    position absolute
    border-radius 1rem
    height 1rem
    line-height height
    font-size 0.8rem
    z-index 2000

    $playerHorizontal = 6.5rem
    $playerVertical = 8rem

    &_player
      left $playerHorizontal
      bottom $playerVertical

    &_enemy
      right $playerHorizontal
      top $playerVertical


  $playgroundOffset = $player-pane-height
  &--playground
    position absolute
    width calc(100% - 3em)
    height "calc(100% - %s)" % ($playgroundOffset * 2)
    border-radius 20%
    top $playgroundOffset
    background-color #026d44
    box-shadow inset 0 0 12em 1em #023c25, 0 0 0.5em 0 #023c25
    left 1.5em
    &:active
      cursor url('/assets/pointer.cur'), auto

  &--playground-cards
    position absolute
    text-align center
    width 90%
    height $cardHeight + 0.7rem
    left 5%
    &_enemy
      top 50%
      margin-top -($cardHeight + 0.7rem)

    &_player
      bottom 50%
      margin-bottom -($cardHeight + 0.7rem)

  &--card-pane
    z-index 500
    position absolute
    width 24rem
    left calc(50% - 12rem)
    height 8rem
    text-align center

    &_enemy
      top 1rem

    &_player
      bottom 1rem

  &--hero-card
    z-index 1000
    position absolute
    &_enemy
      top 1rem
      right 1rem

    &_player
      bottom 1rem
      left 1rem




