<div class="desk"
     [class.desk_attack-mode]="playerInAttack === true">


  <div class="desk--player-name desk--player-name_enemy">
    {{enemy.name}}
  </div>
  <div class="desk--player-name desk--player-name_player">
    {{player.name}}
  </div>


  <app-sausage [count]="enemy.sausages"></app-sausage>
  <app-sausage isPlayer="true" [count]="player.sausages"></app-sausage>

  <app-hero-card class="desk--hero-card desk--hero-card_enemy"></app-hero-card>
  <div class="desk--pane desk--pane_enemy">

  </div>

  <div class="desk--card-pane desk--card-pane_enemy">
    <app-card
      *ngFor="let card of enemy.cards"
      class="desc-card enemy"
      [card]="card">
    </app-card>
  </div>

  <div class="desk--playground" droppable
       (onDrop)="onCardDrop($event)">
    <div class="desk--playground-cards desk--playground-cards_enemy">
      <app-card
        [class.target]="playerInAttack === true"
        *ngFor="let card of enemyCardsOnDesk"
        class="in-desk enemy"
        [card]="card">
      </app-card>
    </div>

    <div class="desk--playground-cards desk--playground-cards_player">
      <app-card
        *ngFor="let card of playerCardsOnDesk"
        class="in-desk"
        (click)="selectToAttack(card)"
        [card]="card"
        [class.in-attack]="card.inAttack === true"
        isPlayerCard="true">
      </app-card>
    </div>
  </div>

  <div class="desk--card-pane desk--card-pane_player">
    <app-card
      *ngFor="let card of player.cards"
      draggable
      (onDragStart)="onDragStart(card)"
      [dragData]="card"
      [dragClass]="'draggableClone'"
      [dragTransitClass]="'draggableClone'"
      [card]="card"
      isPlayerCard="true">
    </app-card>
  </div>


  <app-hero-card class="desk--hero-card desk--hero-card_player" isPlayerHero="true"></app-hero-card>
  <div class="desk--pane desk--pane_player">

  </div>
</div>
