<div class="desk"
     *ngIf="player"
     [class.desk_attack-mode]="playerInAttack === true">

  <div class="desk--wrapper">

    <div class="desk--playground desk--playground_dropable" droppable
         (onDrop)="onCardDrop($event)">


      <div class="desk--playground-cards desk--playground-cards_enemy"
           [class.desk--playground-cards_active]="!ourTurn">
        <app-enemy-card-in-desk
          [class.target]="playerInAttack === true"
          *ngFor="let card of enemyCardsOnDesk; trackBy:cardIdentify"
          class="in-desk enemy"
          [card]="card">
        </app-enemy-card-in-desk>
      </div>

      <div class="desk--playground-cards desk--playground-cards_player"
           [class.desk--playground-cards_active]="ourTurn">
        <app-player-card-in-desk
          *ngFor="let card of playerCardsOnDesk; trackBy:cardIdentify"
          class="in-desk"
          [card]="card"
          [class.in-attack]="card.inAttack === true">
        </app-player-card-in-desk>
      </div>
    </div>


    <app-end-turn-button (click)="endTurn()"></app-end-turn-button>

    <app-new-card
      *ngIf="showNewCard === true"
      [card]="newPlayerCard">
    </app-new-card>

    <app-deck class="enemy"></app-deck>
    <app-deck class="player"></app-deck>


    <div class="desk--player-name desk--player-name_enemy">
      {{enemy.name}}
    </div>
    <div class="desk--player-name desk--player-name_player">
      {{player.name}}
    </div>


    <app-sausage [count]="enemy.sausages"></app-sausage>
    <app-sausage *ngIf="player" isPlayer="true" [count]="player.sausages"></app-sausage>

    <app-hero-card class="desk--hero-card desk--hero-card_enemy"
                   [hero]="enemy.hero"></app-hero-card>
    <div class="desk--pane desk--pane_enemy">

    </div>


    <div class="desk--card-pane desk--card-pane_enemy">
      <app-enemy-card
        [appCardMargin]="enemy.cards.length"
        [card]="card"
        *ngFor="let card of enemy.cards">
      </app-enemy-card>
    </div>

    <div class="desk--playground-border"></div>
    <div class="desk--playground-border-1"></div>

    <div class="desk--playground-border-2"></div>
    <div class="desk--playground-border-3"></div>
    <div class="desk--playground">

    </div>

    <div class="desk--card-pane desk--card-pane_player">
      <app-player-hand-card
        class="player-card-hover"
        [appCardMargin]="player.cards.length"
        *ngFor="let card of player.cards; trackBy:cardIdentify"
        (mouseover)="onCardOver()"
        draggable
        [dragData]="card"
        (onDragStart)="onDragStart()"
        [dragClass]="'draggableClone'"
        [dragTransitClass]="'draggableClone'"
        [card]="card">
      </app-player-hand-card>
    </div>


    <app-hero-card class="desk--hero-card desk--hero-card_player" isPlayerHero="true"
                   [hero]="player.hero"></app-hero-card>
    <div class="desk--pane desk--pane_player">

    </div>
  </div>
</div>
