$player-pane-height = 9rem
$cardHeight = 7rem
$cardWidth = 5.5rem


.player-card-hover:hover {
  z-index 1000;
}

:host
  display block
  width 100%
  height 100%

.desk
  cursor url('/assets/default.cur'), auto
  width 100%
  height 100%
  //background-color #273745
  background-image url('/assets/wood.png')
  position relative
  box-shadow inset 0 0 1rem 0.5rem rgba(23, 34, 46, 0.5)
  overflow hidden


  &--wrapper
    height 100%
    max-width 48rem
    width 100%
    margin 0 auto
    position relative



  &_attack-mode
    cursor url('/assets/attack.cur'), auto

  &--player-name
    padding 0 0.5rem
    display inline-block
    background-color #cc874b
    color black
    position absolute
    border-radius 1rem
    border 1px solid #6b4627
    height 1.1rem
    line-height 1.1rem
    vertical-align middle
    font-size 0.8rem
    z-index 2000

    $playerHorizontal = 8rem
    $playerVertical = 8rem

    &_player
      left $playerHorizontal
      bottom $playerVertical

    &_enemy
      right $playerHorizontal
      top $playerVertical


  $playgroundOffset = $player-pane-height


  &--playground
    box-sizing border-box
    position absolute
    width calc(100% - 3em)
    height "calc(100% - %s)" % ($playgroundOffset * 2)
    border-bottom-left-radius: 20% 20%;
    border-bottom-right-radius: 20% 20%;
    border-top-left-radius: 20% 20%;
    border-top-right-radius: 20% 20%;
    top $playgroundOffset
    background-image url('/assets/grass3.jpg')
    box-shadow inset 0 0 12em 1em #023c25, 0 0 10px 5px #023c25
    left 1.5em
    z-index 20

  &--playground-border-2
    z-index 20
    content ''
    display block
    box-sizing border-box
    position absolute
    width calc(100% - 3em + 20px)
    height "calc(100% - %s + 20px)" % ($playgroundOffset * 2)
    top 'calc(%s - 10px)' % $playgroundOffset
    background green
    box-shadow inset 0 0 6px 4px #023c25, 0.4rem 0.4rem 0.3rem 0.05rem rgba(0, 0, 0, 0.58)
    left calc(1.5em - 10px)
    border-bottom-left-radius: 20% 20%;
    border-bottom-right-radius: 20% 20%;
    border-top-left-radius: 20% 20%;
    border-top-right-radius: 20% 20%;


  &--playground-border
    z-index 10
    content ''
    //display block
    display none
    box-sizing border-box
    position absolute
    width calc(100% - 3em + 60px)
    height 50%
    top 25%
    background green
    box-shadow inset 0 0 6px 4px #023c25, 0 0 2rem 1rem #3b3a3c
    left calc(1.5em - 30px)
    border-radius 50%

  &--playground-border-1
    display none
    transform: rotateZ(-19deg);
    z-index 10
    content ''
    //display block
    box-sizing border-box
    position absolute
    width 70%
    height: 10rem;
    top 6rem
    box-shadow inset 0 0 0.1rem 0.1rem #ffe59d, inset 0 0 5rem 0.1rem rgba(249, 194, 144, 0.63)
    right 2rem
    background-color #ffc282
    border-radius: 50%;

  &--playground-border-3
    display none
    transform: rotateZ(-19deg);
    z-index: 10;
    content: '';
    //display: block;
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    height: 10rem;
    bottom: 6rem;
    box-shadow: inset 0 0 0.1rem 0.1rem #f2d7ed, inset 0 0 5rem 0.1rem rgba(249,194,144,0.6), 0 0 1rem 0.1rem #3b3a3c;
    left: 2rem;
    background-color: #ceb6c9;
    border-radius: 50%;


    &:active
      cursor url('/assets/pointer.cur'), auto

  &--playground-cards
    position absolute
    text-align center
    width 90%
    height $cardHeight + 0.2rem
    left 5%
    z-index 40000
    &_enemy
      top 50%
      margin-top -($cardHeight + 1rem)

    &_player
      bottom 50%
      margin-bottom -($cardHeight + 1rem)

  &--card-pane
    z-index 500
    position absolute
    width 24rem
    left calc(50% - 12rem)
    height 8rem
    text-align center

    &_enemy
      top 1rem

    &_player
      bottom 1rem

  &--hero-card
    z-index 1000
    position absolute
    &_enemy
      top 3rem
      right 1rem

    &_player
      bottom 3rem
      left 1rem




