@keyframes crosshair {
  0% {
    transform scale(1)
  }
  50% {
    transform scale(1.2)
  }
  100% {
    transform scale(1)
  }
}

:host
  width 1px
  height 1px
  display block
  position fixed
  z-index 10000
  top 0
  left 0
  .crosshair
    background-image url(/assets/crosshair.png)
    background-size contain
    background-repeat no-repeat
    position absolute
    z-index 10000
    top -1rem
    left -1rem
    width 2rem
    height 2rem
    border-radius 50%
    animation: crosshair 1s infinite ease-in-out;
    &_shadow
      z-index 9999
      opacity 0.3
      left -0.9rem
      top -0.9rem



